{% extends 'layout/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href='{% static "css/style1.css" %}'>
{% endblock %}
{% block principal %}
<section class="services">
    <div class="container">
        <h2 class="subtitle">
        Materias de Segundo Trimestre <span class="poin">.</span><!--Primer subtitulo de resumen del sitio -->
        </h2>
        <p class="copy-section">
        Contenido relacionado al plan de estudio del segundo semestre de la carrera de Ciencias Física y Energias Alternaticas. 
        </p>
        <article class="container-cards"> <!--Comienso del código de las targetas 1-->
            <div class="card"><!--comienso de la targeta 2-->
                <a href='{% url "sem2_1" %}'>
                <img src='{% static "imgs/algebra_linear.png"%}' class="card-img">
                </a>
                <div class="card-text">
                    <p class="card-list">
                        MAT-200
                    </p>
                    <h3 class="card-title">Algebra Lineal<span class="point">.</span>
                    </h3>
                    <p class="card-copy">
                        Matrices, Operaciones con Matrices, Matris identidad, etc.
                    </p>
                    <a href="{% url 'sem2_1' %}" class="card-button">Explorar</a>
                </div>
            </div><!--Fin del codigo de la targeta 2-->
            <div class="card"><!--Comienso de la targeta 3-->
                <a href="{% url 'sem2_2' %}">
                <img src='{% static "imgs/calculo2.png"%}' class="card-img">
                </a>
                <div class="card-text">
                    <p class="card-list">
                        MAT-201
                    </p>
                    <h3 class="card-title">Calculo II<span class="point">.</span>
                    </h3>
                    <p class="card-copy">
                        Vectores, Integrales dobles, Desrivasdas Parciales, Integrales triples, etc.
                    </p>
                    <a href="{% url 'sem2_2' %}" class="card-button">Explorar</a>
                </div>
            </div><!--Fin de la targeta 3-->
            <div class="card"><!--Comienso de la targeta 3-->
                <a href="{% url 'sem2_3' %}">
                <img src='{% static "imgs/fi2.png"%}' class="card-img">
                </a>
                <div class="card-text">
                    <p class="card-list">
                        FIS-202
                    </p>
                    <h3 class="card-title">Física II<span class="point">.</span>
                    </h3>
                    <p class="card-copy">
                        Mecánica de fluidos, Teoria de elastidad, Calorimetria, etc.
                    </p>
                    <a href="{% url 'sem2_3' %}" class="card-button">Explorar</a>
                </div>
            </div><!--Fin de la targeta 3-->
            <div class="card"><!--Comienso de la targeta 3-->
                <a href="{% url 'sem2_4' %}">
                <img src='{% static "imgs/programacion.png"%}' class="card-img">
                </a>
                <div class="card-text">
                    <p class="card-list">
                        INF-203
                    </p>
                    <h3 class="card-title">Programción I<span class="point">.</span>
                    </h3>
                    <p class="card-copy">
                        Diagramas de flujos, Algoritmos, Lenguaje C, etc.
                    </p>
                    <a href="{% url 'sem2_4' %}" class="card-button">Explorar</a>
                </div>
            </div><!--Fin de la targeta 3-->
        </article>
    </div>
</section> 
{% endblock %} 

