{% extends 'layout/base2.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href='{% static "css/style1.css" %}'>
{% endblock %}
                {% block videos %}
                <strong>CALCULO I UMSS 2022 | DOCENTE: RAUL CATARI RIOS</strong><br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/o_NyRoBW4jk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
                <br>
                <strong>Calculo 1</strong><br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HDj_ahaywuE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                
                <strong>Calculus 1</strong><br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PaBnLWc_17g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
                
                <br>
                {% endblock %}
                
                {% block libros %}
                <br>
                <hr>
                <br>
                <ol class="libros">
                    <li>
                        <li><a href="https://drive.google.com/file/d/1foZQgNUGya1ITEZYI4hiwbCt0LAbijDe/view" target="_blank">Cálculo 1 de Una Variable | Ron Larson, Bruce Edwards | 9 Edición</a></li>
                        <li><a href="https://drive.google.com/file/d/1tl2uyF8zuc5pV0sR7RbDp9srYnHTsJXt/view" target="_blank">Cálculo | Louis Leithold | 7 Edición</a></li>
                        <li><a href="https://drive.google.com/file/d/1vp7K8K3ed8GvMUrm_KQq1iQt4NuL4KjF/view" target="_blank">Calculus Schaum | Frank Ayres, Elliott Mendelson | 5 Edition</a></li>

                    </li>
                    <li>
                    </li>
                    <li>
                    </li>
                </ol>

                <br>
                
                <hr>
                <br>
                {% endblock %}
                {% block precursos %}
                <br>
                <hr>
                <br>
                <ol class="libros">
                    <li>
                    </li>
                    <li>
                    </li>
                    <li>
                    </li>
                </ol>

                <br>
                
                <hr>
                <br>
                {% endblock %}
